@use "variables" as *;
@use "mixin" as *;

.contacts {
  .contacts__list {
    @include listReset();
    @include flexible();
    .contacts__item {
      .contacts__link {
        @include flexible();
        flex-direction: column;
        .contacts__img {
          max-width: 100%;
          object-fit: cover;
          max-height: 450px;
        }
        .contacts__img-description {
          font-size: $size-6;
          width: fit-content;
        }
      }
    }
  }
}
