@use "variables" as *;
@use "mixin" as *;
.projects {
  .projects__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .projects__item {
      display: flex;
      flex-direction: column;
      padding: 5px;
      border-radius: 5px;
      background-color: $color3;
      &-img {
        margin-bottom: auto;
        width: 100%;
        user-select: none;
        -webkit-user-drag: none;
        border-radius: 5px;
      }
      &-content {
        @include flexible();
        flex-direction: column;
        gap: 10px;
        padding: 30px 25px;
        .projects__item-h2 {
          text-align: center;
        }
        .projects__item-stack {
          color: $color1;
        }
        .projects__item-link {
          @include btnReset();
          padding: 5px 12px;
          font-weight: 600;
          outline: none;
          border: 1px solid $black;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
          @media (hover: hover) {
            &:hover {
              background-color: $color2;
            }
          }
          &:focus {
            border: 1px dashed $black;
          }
          &:active {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }
}
