$black: #000;
$white: #fff;
$color1: #8a8a8a;
$color2: #ccc;
$color3: #f1f1f1;
$wbgradient: linear-gradient(90deg, #ffffff, #000000);
$bwgradient: linear-gradient(90deg, #000000, #ffffff);
$size-1: 1.5em;
$size-2: 2em;
$size-3: 3em;
$size-4: 3.5em;
$size-5: 5em;