@use "mixin" as *;
@use "variables" as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  margin: 0;
}
main {
  opacity: 0;
  min-height: calc(100vh - 97px - 97px);
  @include flexible();
}

h1 {
  @include textReset();
  font-weight: 700;
  font-size: $size-3;
}
h2 {
  @include textReset();
  font-weight: 700;
  font-size: $size-2;
}
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

/* Global */
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.section-common {
  padding: 60px 100px;
}
.h1-common {
  margin-bottom: 30px;
}
