@use "variables" as *;
@use "mixin" as *;

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 40px;
  &__img {
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    min-height: 600px;
    object-fit: cover;
  }
  &__skills {
    padding: 30px;
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  &__title {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    &-h2 {
      font-weight: 700;
      font-size: $size-5;
    }
    &-span {
      font-weight: 600;
      font-size: $size-4;
    }
  }
  &__h3 {
    @include textReset();
    font-weight: 600;
    font-size: $size-2;
  }
  &__list {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    &-item {
      font-size: $size-1;
    }
  }
}

@media (max-width: 1280px) {
  .about {
    &__title {
      &-h2 {
        font-size: $size-4;
      }
      &-span {
        font-size: $size-4;
      }
    }
    &__h3 {
      font-size: $size-2;
    }
    &__list {
      &-item {
        font-size: $size-7;
      }
    }
  }
  
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    &__img{
      min-height: 300px;
    }

    &__title {
      &-h2 {
        font-size: $size-2;
      }
      &-span {
        font-size: $size-2;
      }
    }
    &__description {
      font-size: $size-7;
    }
  }
}

@media (max-width: 650px) {
  .about {
    padding: 30px;
    gap: 10px;
    &__skills {
      &-title {
        .about__skills-h2 {
          font-size: $size-1;
        }
        .about__skills-span {
          font-size: $size-1;
        }
      }
      &-description {
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0;
    &__img {
      width: 100%;
      min-height: fit-content;
    }
  }
}
