@use "variables" as *;
@use "mixin" as *;

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  &__img {
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    max-height: 600px;
  }
  &__skills{
    padding: 30px;
    @include flexible();
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    &-title{
      @include flexible();
      flex-direction: column;
      .about__skills-h2 {
        font-weight: 700;
        font-size: $size-5;
      }
      .about__skills-span{
        font-weight: 600;
        font-size: $size-4;
      }
    }
    &-description{
      @include flexible();
      flex-direction: column;
      font-size: $size-1;
    }
  }
}

@media (max-width: 1280px) {
  .about {
    &__skills{
      &-title{
        .about__skills-h2 {
          font-size: $size-4;
        }
        .about__skills-span{
          font-size: $size-4;
        }
      }
      &-description{
        font-size: $size-7;
      }
    }
  }
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr 1fr;
    &__skills{
      &-title{
        .about__skills-h2 {
          font-size: $size-2;
        }
        .about__skills-span{
          font-size: $size-2;
        }
      }
      &-description{
        font-size: $size-7;
      }
    }
  }
}

@media (max-width: 650px) {
  .about {
    padding: 30px;
    &__skills{
      &-title{
        .about__skills-h2 {
          font-size: $size-1;
        }
        .about__skills-span{
          font-size: $size-1;
        }
      }
      &-description{
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;
    }
  }
}