@use "variables" as *;
@use "mixin" as *;
.projects {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(
      to bottom,
      rgba(138, 138, 138, 0),
      rgba(138, 138, 138, 0.3)
      );
    }
    &__item-img {
      @include flexible();
      width: 100%;
      user-select: none;
      -webkit-user-drag: none;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      max-height: 270px;
      object-fit: cover;
      @media (hover: hover) {
        &:hover {
          transform: scale(1.2);
          box-shadow: 5px 5px 50px black;
        }
      }
    }
    &__item-content {
      @include flexible();
      flex-direction: column;
      gap: 10px;
      padding: 30px 25px;

    }
          &__item-h2 {
        text-align: center;
      }
      &__item-stack {
        color: $color1;
      }
      &__item-link {
        @include btnReset();
        padding: 5px 12px;
        font-weight: 600;
        outline: none;
        border: 1px solid $black;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        @media (hover: hover) {
          &:hover {
            background-color: $color2;
          }
        }
        &:focus {
          border: 1px dashed $black;
        }
        &:active {
          background-color: $black;
          color: $white;
        }
      }
      &__img-container{
      @include flexible();
        height: 100%;
    }
}

.modal-back {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px 20px;
    width: fit-content;
    height: fit-content;
    background: #fff;
    border: 1px solid $black;
    border-radius: 5px;
    z-index: 99999;
    width: 70%;
    height: 60%;
    .modal-content-coin {
      @include flexible();
      justify-content: flex-start;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .modal-close {
      position: absolute;
      top: 10px;
      right: 50%;
    }
  }
}

@media (max-width: 1280px) {
  .projects {
    .projects__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .projects {
    padding: 30px 30px;
    .projects__list {
      grid-template-columns: 1fr;
    }
  }
}
